.order {
  background-image: url("../img/order-mask.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  padding-top: 124px;
  padding-bottom: 147px;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    text-align: center;
  }

  &__title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;

    span {
      color: #3e9cdc;
    }
  }

  &__subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #bbbbbb;
  }
}
