.order {
  background-image: url("../img/order-mask.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  padding: 120px 0 150px;

  &__text {
    @include flex(center, center);
    flex-direction: column;
    margin-bottom: 80px;
    text-align: center;
  }

  &__title {
    margin: 0 0 30px;
    @include text(36px, 900, $color-white);
    text-transform: uppercase;

    span {
      color: $color-primary;
    }
  }

  &__subtitle {
    @include text(18px, 400, $color-gray);
  }

  @include media-lg {
    padding: 80px 0;
    background-size: cover;

    &__text {
      margin-bottom: 50px;
    }

    &__title {
      font-size: 30px;
    }
  }

  @include media-md {
    padding: 60px 0;

    &__title {
      font-size: 26px;
      margin-bottom: 20px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  @include media-sm {
    &__title {
      font-size: 22px;
    }
  }
}
